{%- liquid
if product.options contains 'Size'
  for collecion in product.collections
    assign pageHandler = collecion.handle | append: "-size-chart"
    assign size_obj = pages[pageHandler]
    if size_obj != empty
      assign size_chart = size_obj
      break
    endif
  endfor
endif -%}
{%- unless size_chart and size_chart != empty -%}{% continue %}{%- endunless -%}

<modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-size_chart">
  <button id="ProductPopup-size_chart" class="link" type="button" aria-haspopup="dialog">trigger_text</button>
</modal-opener>
<modal-dialog id="PopupModal-size_chart" class="product-popup-modal">
  <div role="dialog" aria-label="trigger_text" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
    <button id="ModalClose-size_chart" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
    <div class="product-popup-modal__content-info">
      <h1 class="h2">{{ size_chart.title }}</h1>
      {{ size_chart.content }}
    </div>
  </div>
</modal-dialog>
